body {
    background-color: cadetblue;
    color: aliceblue;
    font-size: larger;
    border:10px solid rgba(65, 67, 68, 0.849);
    border-radius: 10%;
    max-width: 100%;
    height: 100rem;



    
    
}
h1{
    color: rgb(255, 174, 0);
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    width: 50%;
    margin-left: 25%;
    

    

}
.para {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(197, 189, 189);
    text-align: center;

}

.lists {
    display: flex;
    list-style-type: none;
    margin: 0;
    
    
}
a {
    font-size: 2em;
    text-decoration: none;
    padding: 8px 16px;

    
}










