body {
    background-color: rgba(119, 80, 30, 0.623);
    color: rgb(105, 21, 21);
    font-size: 2rem;
    border: 10px solid;
    border-radius: 30px;
    text-align: center;

}


.lists {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;

}


a {
    text-decoration: none;
    padding: 8px 16px;
    color: rgba(19, 7, 90, 0.863);
    font-size: 2.5rem;
}
legend {
    color: rgb(29, 29, 88);
}
